body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(rgb(0, 30, 255), rgba(91, 14, 14, 0.882));
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.html {
  font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0px;
  background: #24252a;
  color: #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-items {
  order: 2;
  display: flex;
}
.logo {
  order: 1;
  font-size: 1.8rem;
}

.menu-items li{
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #0040ff;
}

@media (max-width: 768px) {
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.1s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #24252a;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    overflow: scroll;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1rem;
    font-weight: 500;
  }


  .logo {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 1.7rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}

/* pour les img de best */
.photo {
  width: 100%;
  height: auto;
}

/* La taille des bannières */
.photo2 {
  width: 95%;
  height: 80px;
  margin-top: 40px;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .photo2 {
    width: 94%;
    height: 80px;
    margin-top: 40px;
    margin-left: 10px;
  }
}

/*la forme des autres div*/
.black {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.559);
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  font-size: 20px;
  width: 70%;
  text-align: center;
  color: rgb(255, 255, 255);
}

@media(max-width: 600px) {
  .black {
    position: relative;
    background-color: rgba(0, 0, 0, 0.559);
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
}

.black2 {
  border-radius: 15px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.559);
  top: 30px;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  font-size: 20px;
  width: 70%;
  text-align: center;
  color: rgb(255, 255, 255);
}

@media(max-width: 600px) {
  .black2 {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.559);
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
}

/* .block1 {
  top: 100px;
  position: fixed;
  float: left;
  width: 28%;
  margin: 10px;
  border: 3px solid #fffefe;
  background-color: #000000;
  bottom: 70px;
}

@media (max-width: 600px) {
  .block1 {
    top: 100px;
    position: fixed;
    float: left;
    width: 50%;
    height: 80%;
    margin: 10px;
    border: 3px solid #fffefe;
    background-color: #000000;
    bottom: 70px;
  }
}

.block2 {
  top: 100px;
  left: 435px;
  position: fixed;
  width: 70%;
  margin: 10px;
  border: 3px solid #ffffff;
  background-color: #000000;
  bottom: 70px;
} */

.texte {
  position: absolute;
  background-color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/*pour l'ensemble des vidéos*/
#mavideo {
  object-fit: fill;
  width: 100%;
  position: relative;
  top: 0%;
}

#mavideo2 {
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
}

#mavideo3 {
  object-fit: fill;
  width: 100%;
  position: relative;
}

#mavideo4 {
  object-fit: fill;
  width: 100%;
  position: relative;
}

/* la bordure de l'accordion */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* la forme de l'accordion */
.container__accordion {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem .5rem;
}

/* Le contour de l'accordion */
.accordion {
  list-style: none;
  max-width: 750px;
  width: 100%;
}

/* Pour le texte titre de l'accordion */
.accordion__item {
  margin-bottom: .8rem;
  border: 1px solid #F2F2F2;
  transition: all .2s linear;
}

/* La bordure qui fait un effet d'ombre sur le contour des accordions */
.accordion__item.open {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.83);
}

/* l'espace qui entour le titre */
.accordion__item__head {
  padding: 1rem;
}

/* Pour le fond des barres et leurs contours */
.accordion__item__head {
  background: #00000071;
  color: #EEE;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Pour la forme des H2 */
.accordion__item__head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
}

@media(max-width: 600px) {
  .accordion__item__head h2 {
    text-transform: uppercase;
    font-size: 1rem;
  }
}

/* La forme et la couleur de la zone de texte */
.accordion__item__body {
  overflow: hidden;
  height: 0;
  border-left: 3px solid #000000;
}

/* Modifi l'espace de l'intérieur du accordion */
.accordion__item.open .accordion__item__body {
  padding: 1rem;
  height: auto;
}

/* Pour l'espace entre les accordion */
.accordion__item__body>*:not(:first-child) {
  margin-top: .8rem;
}

/* Pour le logo du site*/
.logo2 {
  width: 200px;
  height: 60px;
}

h1 {
  color: #ffffff;
  font-family: Arial;
}

h4 {
  font-size: 40px;
  color: #ffffff;
  font-family: Arial;
}

h5 {
  font-size: 25px;
  color: #ffffff;
  font-family: Arial;
}

p {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  font-family: Arial;
}

/*1vw = 1% de la largeur de la fenêtre // 1VH = 1% de la hauteur de la fenêtre // 1.5rem = 15px */

