<article>

                <h3>L'apparition des meilleurs jeux</h3>

                <p>On peut en dire long sur les jeux que Blizzard a sortis, on peut par exemple parler de
                        Warcraft ou bien de
                        Diablo qui à eux deux ont déjà façonné le principe du rpg mais aussi des jeux de
                        stratégie en mode jeux de
                        plateau virtuel. Bien sûr, il y a aussi World or Warcraft qui a énormément contribué à
                        la création des MMORPG
                        vue que c’est l’un des meilleurs si ce n’est même pas le meilleur MMORPG au moment ou je
                        vous parle, en plus de
                        tout cas il y a Starcraft qui viens compléter la triade des meilleurs jeux blizzard avec
                        des extensions
                        parfaites du moins jusqu’à une certaine époque.</p>

                <br>

                <p>Mais avant de vous parler du déclin de Blizzard, je voulais vous parler des autres jeux
                        qu’ils ont sortis
                        comme, par exemple, Hearthstone qui est un simple jeu de cartes multiplateforme où on
                        s’affronte contre des IA
                        ou contre de vrais joueurs en 1 contre 1. Il y a aussi l’apparition des Call of Duty et
                        de Crash Bandicoot 4 qui
                        sont apparus après l’unification de Action(Activision ?) avec Blizzard. De plus l’un des
                        jeux qui, il faut dire,
                        c’est pas mal inspiré de League of Legends, je veux bien sûr parler de Héros Of The
                        Storm qui est un MOBA avec
                        deux équipes qui doivent se battre sur une carte aléatoire avec des personnages des
                        divers jeux de la
                        franchise.</p>

                <br>

                <p>De plus il y a aussi des FPS avec Overwatch qui a plus que marqué la scène compétitive avec
                        des équipes de 6
                        contre 6 sur Overwatch 1 et 5 contre 5 sur Overwatch 2 qui comme Héros Of The Storm,
                        vont s’affronter sur une
                        carte aléatoire avec divers objectifs. En plus de ça, l’esprit compétitif est plutôt
                        bien présent même si
                        parfois il y a des fauteurs de troubles. Mais Blizzard est aussi très bon dans le
                        principe de Ban certain
                        utilisateur. Même si ce n’est pas instantané, Blizzard met souvent un point d’honneur à
                        renforcer leur sécurité
                        même si souvent des bugs sont facilement trouvés.</p>

</article>