<article>

                <h3>Le commencement du déclin</h3>

                <p>Avoir un déclin dans son entreprise est totalement normal mais celle de Blizzard a atteint un
                        niveau
                        totalement improbable. Par exemple World of Warcraft, avant l’apparition de l’extension
                        de Cataclysm, Wow avait
                        vécu les meilleurs moments de sa vie mais malheureusement, après cette extension,
                        Blizzard a enchaîné les ventes
                        médiocres et surtout, l’entreprise a commencé à voir des personnes retirer leurs
                        abonnements car ils trouvaient
                        que le jeu avait perdu de sa saveur d’entente.</p>

                <br>
                <br>

                <p>Pour Diablo, c’est différent, car après avoir sorti les meilleures extensions de ce même jeu,
                        Diablo Immortal
                        est sortie et là ça ne s'est pas du tout bien passé. Le jeu étant un pay to win (jeu qui
                        offre des avantages
                        parfois démesurés contre de l’argent) il a très vite vu le nombre de joueur descendre en
                        flèche et en plus de
                        ça, le jeu a été achevé par une vague ou plutôt un tsunami de critique négative montrant
                        que le jeu était la
                        pire des créations que Blizzard a pu sortir.</p>

                <br>
                <br>

                <p>Il y a aussi Overwatch qui avait un succès énorme jusqu’à la venue de Overwatch 2. En fait,
                        Overwatch 2 était
                        extrêmement demandé car le jeu était de plus en plus nul car trop peu de mises à jour et
                        donc une perte
                        colossale de joueurs. En plus de ça, un mode pve aller être présenté pour améliorer les
                        histoires des
                        personnages de Overwatch. Mais tout ne s’est pas bien déroulé, Overwatch 2 est sortie
                        avec 2 ans même presque 3
                        ans de retard et en plus de ça le mode pve n’est même pas rajouté. En plus de ça, des
                        héros ont changé dans
                        leurs mécaniques et des nerfs on était placé sur des héros qui ne méritaient pas d'en
                        avoir, de plus des héros
                        trop fort ont reçu beaucoup d’amour au point d’être encore plus puissant.</p>
                        
                <br>
                <br>
</article>