<article>

                <h4>Le début de l'aventure</h4>

                <p>Blizzard Entertainment est une entreprise de développement de jeux vidéo basée aux
                        États-Unis. Fondée en
                        1991, elle est connue pour ses franchises de jeux de stratégie en temps réel et de jeux
                        de rôle en ligne
                        massivement multijoueur (MMORPG) de renom, telles que Warcraft, Starcraft et
                        Diablo.</p>

                <br>
                <br>

                <p>Michael Morhaime: co-fondateur et ancien PDG de Blizzard
                        Entertainment. M. Morhaime a co-fondé Blizzard Entertainment en 1991 et a été PDG de
                        l'entreprise jusqu'en 2018. Il a été impliqué dans la création de nombreux jeux de
                        Blizzard,
                        notamment Warcraft, Starcraft et Diablo.</p>

                <br>
                <br>

                <p>Allen Adham: cofondateur de Blizzard Entertainment. M. Adham a cofondé Blizzard Entertainment
                        en 1991 et a
                        été impliqué dans la création de nombreux jeux de Blizzard, notamment Warcraft,
                        Starcraft et Diablo. Il a
                        également été le PDG de Blizzard Entertainment de 1994 à 1998.</p>

                <br>
                <br>

                <p>Frank Pearce: cofondateur de Blizzard Entertainment. M. Pearce a cofondé Blizzard
                        Entertainment en 1991 et a été impliqué dans la création de nombreux jeux de Blizzard, notamment
                        Warcraft, Starcraft et Diablo. Il a également été le PDG de Blizzard Entertainment de 1998 à
                        2008.</p>

                <br>
                <br>
                
</article>