<article>

        <h3>Microsoft</h3>

        <img class="photo" src="img/microsoft.png" alt="">

        <p>Microsoft a annoncé le rachat record d’Activision Blizzard le 18 janvier 2022. Depuis, la firme
            mène une
            bataille juridique et politique pour faire valider le rachat par les autorités dans le monde entier.
            Avec
            une somme annoncée à 68,7 milliards de dollars, il s’agit tout autant du rachat le plus important de
            l’histoire du jeu vidéo et de Microsoft.</p>

        <br>
        <br>

        <p>Avec ce rachat, Microsoft intégrerait plus de 10 000 employés répartis dans le monde au sein de
            13 studios.
            Si c’est la franchise Call of Duty d’Activision qui s’est vite retrouvée au milieu des discussions,
            Microsoft rachète aussi des licences cultes comme World of Warcraft, Diablo, Starcraft, Tony Hawk,
            Crash
            Bandicoot ou encore Spyro et Overwatch. Par ailleurs, il ne faut pas oublier King et la licence Candy
            Crush,
            en plus de Call of Duty Mobile et Hearthstone.</p>

        <br>
        <br>

</article>