<article>

        <h3>Une remontée spectaculaire ?</h3>

        <p>Malgré tous ces défauts, Blizzard a quand même la tête qui reste à la surface. Avec la venue
                        de nouveaux jeux
                        et de nouvelles extensions qui ont redonné l’envie aux joueurs de revenir sur les jeux
                        de la franchise.
        </p>

        <br>

        <p>On a par exemple, l’apparition de l’extension DragonFlight pour World of Warcraft qui
                        présente une nouvelle
                        zone, une nouvelle mécanique de gameplay avec des montures, un nouveau système d’arbre
                        de talent, et aussi un
                        nouveau raid qui est juste magnifique.</p>

        <br>

        <p>Il y a aussi Diablo IV qui sortira bientôt qui peut être une excellente extension pour cette
                        saga. Avec des
                        nouveaux monstres, de nouvelles classes jouables, un nouveau gameplay qui à l’air d’être
                        de plus en plus fun.
                        Mais aussi de nouveau graphisme qui devrait être à couper le souffle surtout avec les
                        nouvelles technologies qui
                        approche.</p>

        <br>

        <p>Pour Overwatch 2, on attend surtout l’avenue du mode pve avec des nouveaux personnages mais
                        aussi de
                        nouvelles cartes jouables avec de nouveaux mode de jeux et des styles graphiques très
                        optimisé. Et surtout,
                        de nouvelle mise à niveau des personnages qui devrait rendre le gameplay plus drôle sans
                        à avoir
                        l’obligation de jouer des personnages trop puissant pour forcément gagner.</p>
</article>