<h1>Bienvenue</h1>

<br>

<p> Bienvenue sur mon site web basé sur la découverte d'une entreprise. Pour certain il le présente sous le format
    d'une vidéo, pour d'autre un diaporama mais moi j'ai préféré aller plus loin que ça. Je me nomme Altrévis et
    aujourd'hui j'ai l'honneur de vous présenter l'une des plus grandes entreprises de jeux vidéo.</p>

<br>

<h1>Blizzard Entertainment.</h1>

<br>

<p>Alors alors alors... La façon d'on j'ai voulu présenter le site web est assez simple dans l'ensemble. Il y aura une
    partie présentation de l'histoire de l'entreprise, une partie sur les plus gros rachats que l'entreprise a pu
    recevoir et on verra que c'est parfois des sommes titanesques. Et on finira par une petite compilation des meilleurs
    jeux/extension que l'entreprise a pu nous offrir.</p>
<br>

<img class="logo3" src="img/logo2.png" alt="">