<article> 

                <h4>Vivendi</h4>

                <img class="photo" src="img/vivendi.png" alt="">

                <p>En juillet 2008, Vivendi Games, une filiale de Vivendi, a été rachetée
                        par Activision et a été fusionnée avec Activision pour devenir Activision Blizzard. Cette
                        acquisition a été réalisée afin de créer l'une des plus grandes entreprises de jeux vidéo au
                        monde. Vivendi Games possédait déjà une participation majoritaire dans Blizzard Entertainment,
                        une entreprise de développement de jeux vidéo basée en Californie, et le rachat par Activision a
                        permis à Blizzard de devenir une filiale complète d'Activision Blizzard.</p>

                <br>
                <br>

                <p>Depuis le rachat, Blizzard a continué à développer et à publier des
                        jeux sous sa propre marque, notamment des titres populaires tels que World of Warcraft,
                        Starcraft et Diablo. Activision Blizzard est devenue l'une des plus grandes entreprises de jeux
                        vidéo au monde et continue de publier et de développer des jeux pour de nombreuses
                        plateformes.</p>

                <br>
                <br>

</article>