<article class="bestgame">

  <video autoplay muted loop>
    <source src="img/diablo.mp4" type="video/mp4">
  </video>

  <div class="content">

    <a href="diablo.html"><img class="logo2" src="img/diablo.png" alt=""></a>

    <p>Diablo est un jeu vidéo de rôle et d’action (hack and slash) créé par Blizzard Entertainment en 1996. Il se
      déroule dans le monde sombre et gothique de Sanctuaire, où les joueurs doivent affronter les forces du mal menées
      par le seigneur de la terreur Diablo, qui cherche à conquérir le monde.</p>

      <br>

      <p>Le jeu propose trois classes de personnages: le guerrier, le sorcier et le voleur, qui ont chacun leurs propres
      caractéristiques et compétences. Le jeu se compose de seize niveaux souterrains, qui sont générés aléatoirement à
      chaque partie, et qui contiennent des monstres, des pièges, des trésors et des secrets. Le jeu se termine par un
      combat contre Diablo lui-même.</p>

      <br>

      <p>Diablo a été un succès commercial et critique, et a été considéré comme l’un des meilleurs jeux de rôle de tous
      les temps. Il a également donné naissance à une série de jeux vidéo, qui comprend les suites Diablo II (2000) et
      Diablo III (2012), ainsi que plusieurs extensions et spin-offs. La série Diablo est connue pour son gameplay
      addictif, son ambiance sombre et son scénario complexe, qui mêle des éléments de fantasy, d’horreur et de
      religion.</p>

  </div>

</article>