<article class="bestgame">

  <video autoplay muted loop>
    <source src="img/diablo.mp4" type="video/mp4">
  </video>

  <div class="content">

    <h3>Diablo</h3>

    <img class="logo2" src="img/diablo.png" alt="">
    
    <p class="text-white">Diablo: Diablo est un jeu de rôle en ligne massivement multijoueurs
      qui a été lancé en 1996. Il s'agit d'un des jeux de rôle en ligne les plus populaires de tous
      les temps et est particulièrement apprécié pour sa rejouabilité et son gameplay
      addictif.</p>

    <br>

    <p>Diablo a été publié sous forme d'extension:</p>

    <p>Diablo I: Hellfire, sorti en 1997 </p>

    <p>Diablo II: Resurrected, sortie en 2000</p>

    <p>Diablo II: Lord of Destruction, sortie en 2001</p>

    <p>Diablo III: Rise of the Necromancer, sortie en 2017</p>

    <p>Diablo Immortal: MMORPG mobil et tablette, sortie en 2022</p>

  </div>

</article>