<article class="bestgame">

  <video autoplay muted loop>
    <source src="img/overwatch.mp4" type="video/mp4">
  </video>

  <div class="content">

    <h3>Overwatch</h3>

    <img class="logo2" src="img/overwatch.png" alt="">
    
    <p>Overwatch: un hero shooter en ligne multijoueur qui met en scène une
      équipe de héros aux pouvoirs uniques qui s'affrontent dans des combats intenses. Overwatch a
      remporté de nombreux prix et est considéré comme l'un des meilleurs jeux de hero shooter de tous
      les temps.</p>

    <br>

    <p>Overwatch 1: Payant mais que pour accedé au jeux, sorti en
      2016</p>

    <p>Overwatch 2: Gratuit mais les skin sont payant, sorti en 2016
    </p>

  </div>

</article>