<article class="bestgame">

        <video autoplay muted loop>
                <source src="img/starcraft.mp4" type="video/mp4">
        </video>

        <div class="content">

                <h3>Starcraft</h3>

                <img class="logo2" src="img/starcraft.png" alt="">

                <p>StarCraft est un jeu vidéo de stratégie en temps réel (RTS) créé par Blizzard Entertainment en 1998.
                        Il se déroule dans un univers de science-fiction, où trois races s’affrontent pour le contrôle
                        de la galaxie: les Terrans, des humains exilés de la Terre; les Zergs, des créatures insectoïdes
                        guidées par une intelligence collective; et les Protoss, des êtres psioniques et
                        technologiquement avancés.</p>

                        <p>Le jeu propose deux modes de jeu: le mode campagne, où le joueur suit le scénario du jeu à
                        travers plusieurs missions; et le mode multijoueur, où le joueur peut affronter d’autres joueurs
                        ou l’intelligence artificielle. Le jeu se distingue par son gameplay dynamique et équilibré, qui
                        demande au joueur de gérer ses ressources, ses unités et ses stratégies.</p>

                        <p>tarCraft a été un succès commercial et critique, et a été considéré comme l’un des meilleurs
                        jeux de stratégie de tous les temps. Il a également donné naissance à une série de jeux vidéo,
                        qui comprend la suite StarCraft II (2010), ainsi que plusieurs extensions et spin-offs. La série
                        StarCraft est connue pour son univers riche et cohérent, son scénario épique et ses personnages
                        charismatiques.</p>

        </div>

</article>