<article class="bestgame">

        <video autoplay muted loop>
                <source src="img/starcraft.mp4" type="video/mp4">
        </video>

        <div class="content">

                <h3>Starcraft</h3>

                <img class="logo2" src="img/starcraft.png" alt="">

                <p>Starcraft: Starcraft est un jeu de stratégie en temps réel qui a été
                        lancé en 1998. Il s'agit d'un des jeux de stratégie les plus populaires de tous les temps et est
                        particulièrement populaire en Corée du Sud, où il est considéré comme un sport
                        national.</p>

                <br>

                <p>Starcraft: Brood War: extension de Starcraft sortie en 1998
                </p>

                <p>Starcraft II: Wings of Liberty: extension de Starcraft II sortie en
                        2010</p>

                <p>Starcraft II: Heart of the Swarm: deuxième extension de Starcraft II
                        sortie en 2013</p>

                <p>Starcraft II: Legacy of the Void: troisième et dernière extension de
                        Starcraft II sortie en 2015</p>

        </div>

</article>