<article class="bestgame">

  <video autoplay muted loop>
    <source src="img/warcraft.mp4" type="video/mp4">
  </video>

  <div class="content">

    <h3>World of Warcraft</h3>

    <p>World of Warcraft: World of Warcraft est un jeu de rôle en ligne
      massivement multijoueurs qui a été lancé en 2004. Il s'agit d'un des jeux en ligne les plus
      populaires au monde, avec plus de 10 millions d'abonnés actifs.</p>

    <br>

    <img class="logo2" src="img/worldofwarcraft.png" alt="">

    <br>

    <p>WoW a été publié sous forme d'extension:</p>

    <p>World of Warcraft: The Burning Crusade sorti en 2007</p>

    <p>World of Warcraft: Wrath of the Lich King sorti en 2008</p>

    <p>World of Warcraft: Cataclysm sorti en 2010</p>

    <p>World of Warcraft: Mists of Pandaria sorti en 2012</p>

    <p>World of Warcraft: Warlords of Draenor sorti en 2014</p>

    <p>World of Warcraft: Legion sorti en 2016</p>

    <p>World of Warcraft: Battle for Azeroth sorti en 2018</p>

    <p>World of Warcraft: Shadowlands sorti en 2020</p>

    <p>World of Warcraft: Dragonflight sorti en 2022</p>

  </div>
  
</article>