<article class="bestgame">

  <video autoplay muted loop>
    <source src="img/warcraft.mp4" type="video/mp4">
  </video>

  <div class="content">

    <a href="wow.html"><img class="logo2" src="img/worldofwarcraft.png" alt=""></a>

    <p>World of Warcraft est un jeu vidéo de rôle en ligne massivement multijoueur (MMORPG) créé par Blizzard
      Entertainment en 2004. Il se déroule dans le monde fantastique d’Azeroth, où les joueurs peuvent créer des
      personnages appartenant à différentes races et classes, et explorer le monde, combattre des ennemis, accomplir des
      quêtes, rejoindre des guildes et interagir avec d’autres joueurs.</p>

      <br>

      <p>Le jeu est basé sur l’univers de Warcraft, une série de jeux vidéo de stratégie en temps réel lancée en 1994.
      World of Warcraft est le quatrième opus de la série, et le premier à être un MMORPG. Il a connu un grand succès
      commercial et critique, et est devenu le MMORPG le plus populaire au monde, avec plus de 100 millions de comptes
      créés et plus de 10 millions d’abonnés actifs en 2014.</p>

      <br>

      <p>World of Warcraft a également été enrichi par plusieurs extensions, qui ont ajouté de nouvelles zones, races,
      classes, quêtes, objets, monstres et événements au jeu. Les extensions sont: The Burning Crusade (2007), Wrath of
      the Lich King (2008), Cataclysm (2010), Mists of Pandaria (2012), Warlords of Draenor (2014), Legion (2016),
      Battle for Azeroth (2018) et Shadowlands (2020).</p>

      <br>

      <p>World of Warcraft est un jeu qui propose une grande variété d’activités et d’expériences aux joueurs, qui peuvent
      choisir leur style de jeu préféré et leur niveau de difficulté. Le jeu est également connu pour sa richesse
      narrative et son univers immersif, qui s’inspirent de diverses sources mythologiques, historiques et culturelles.</p>

  </div>

</article>